<h1>Flicka App</h1>

<p>Created as part of <a href="https://www.theodinproject.com/">The Odin Project</a> API section.</p>

<p>This app uses the Flickr Api to access pictures stored in Flickr in three ways.</p>
<ol>
	<li>Input a Flickr ID and the pictures belonging to that account are returned.</li>
	<li>Search by Tag, (limited to the 50 pictures for speed of loading).</li>
	<li>Return a selection of pictures that were uploaded today, again, limited to 50.</li>
</ol>

<%= link_to "Github Repo for this project", 'https://github.com/Jamesredux/flickr_app' %>
<p>Jamesredux</p>