<footer class="footer">
  <small>
     <a href="https://www.flickr.com/">Flickr</a>
     <a href="https://www.flickr.com/services/api/">Flickr Api</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "My Github",   '#' %></li>
      <li><%= link_to "The Odin Project", '#' %></li>
      
    </ul>
  </nav>
</footer>