<footer class="footer">
  
   
  
  <nav>
    <ul>
      <li><%= link_to "Github",   'https://github.com/Jamesredux/flickr_app' %></li>
      <li><%= link_to "The Odin Project", 'https://www.theodinproject.com' %></li>
      <li><%= link_to "Flickr", 'https://www.flickr.com/' %></li>
      <li><%= link_to "The Flickr Api Docs", 'https://www.flickr.com/services/api/' %></li>
      
    </ul>
  </nav>
</footer>